.allWares {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.allWares>.card {
    margin-bottom: 0.5rem;
}

/*
.allWares>.card>*>img {
    width: 200px;
    height: 200px;
}*/

.filter {
    display: flex;
    gap: 1rem;
    background-color: lime;
    border-radius: 15px;
    border: 1px solid black;
    width: fit-content;
    padding: 0.5rem;
    align-items: center;
}

.filter>button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.filter>button:hover {
    filter: drop-shadow(0 0 4px black);
}

.filter>p {
    margin: 0;
}

.filters {
    display: flex;
    gap: 2rem;
}

.filters>.filter {
    background-color: lightblue;
}

@media screen and (max-width: 1200px) {
    .allWares {
        --grid-placement: auto-fit;
        grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 16rem), 1fr));
    }
}