.product {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-accent);
}

.productImg {
    width: 60%;
    height: auto;
}

.productDesc {
    padding: 1rem;
    width: 40%;
}

.productDesc>button {
    background-color: var(--color-accent);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}