.cart {
    background-color: var(--color-bg);
    position: absolute;
    width: 550px;
    height: auto;
    border: 2px solid var(--color-fg);
    margin-top: 400px;
    margin-left: -295px;
    padding: 1rem;

    display: none;
}

.cart>*>h2 {
    margin: 0;
}

.items {
    margin-bottom: 1rem;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-fg);
}

.item>img {
    width: 20%;
}

.item>h3 {
    margin: 0;
    max-width: 225px;
}

.cartBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartBtns>h3 {
    margin: 0;
}

.cartBtns>p {
    margin: 0 0.5rem 0 0;
}

.cartBtns>*>button,
.cartBtns>button,
.item>button {
    background-color: var(--color-accent);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}

.itemsCheckout>.item>img {
    width: 10%;
}