.cart {
    background-color: var(--color-bg);
    position: absolute;
    width: 550px;
    height: auto;
    max-width: 100vw;
    border: 2px solid var(--color-fg);
    margin-top: 475px;
    margin-left: -300px;
    padding: 1rem;

    display: none;
}

.navBtn {
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    display: flex;
}

.navBtnH3 {
    margin: 0;
}

.itemCount {
    background-color: red;
    border-radius: 100%;
    height: 15px;
    padding: 3px;
}

.cart>*>h2 {
    margin: 0;
}

.items {
    margin-bottom: 1rem;
    height: 300px;
    overflow-y: scroll;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-fg);
}

.item>img {
    width: 20%;
}

.item>h3 {
    margin: 0;
    max-width: 225px;
}

.cartBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartBtns>h3 {
    margin: 0;
}

.cartBtns>p {
    margin: 0 0.5rem 0 0;
}

.cartBtns>*>button,
.cartBtns>button,
.item>button {
    background-color: var(--color-accent);
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}

.mobileCart {
    display: none;
}

@media screen and (max-width: 600px) {
    .openCart {
        display: none;
    }

    .mobileCart {
        display: block;
    }
}