#msgbox {
    position: fixed;
    right: 38%;
    left: 38%;
    bottom: 2vmin;
    min-width: 16rem;
    text-align: center;
}

#msgbox>p {
    margin-bottom: 0.2rem;
    padding: 1rem;
}

.warning {
    background-color: red;
}

.success {
    background-color: lightgreen;
    border-radius: 20px;
}