#msgbox {
    position: fixed;
    right: 40%;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox>p {
    margin-bottom: 0.2rem;
    padding: 1rem;
}

.warning {
    background-color: red;
}

.success {
    background-color: lightgreen;
    border-radius: 20px;
}